<template>

    <form @submit.prevent="submitContact">
        <legend>Contact Details <span v-show="errorMessage">{{errorMessage}}</span></legend>
        <fieldset>
            <div class="flex-container">
                <label class="flex-item">
                    <span class="title">Name</span>
                    <input type="text" id="contact-name" v-model="contact.name" placeholder="Your Name" autocomplete="name">
                </label>
                <label class="flex-item">
                    <span class="title">Email</span>
                    <input type="email" id="contact-email" v-model="contact.email" placeholder="Your Email" autocomplete="email">
                </label>
                <label class="flex-item">
                    <span class="title">Address</span>
                    <input type="text" id="contact-street" v-model="contact.address.street" placeholder="Street" autocomplete="address-line1">
                </label>
                <label class="flex-item">
                    <span class="title">City</span>
                    <input type="text" v-model="contact.address.city" placeholder="City" autocomplete="address-level1">
                </label>
                <label class="flex-item">
                    <span class="title">Zip Code</span>
                    <input type="number" v-model="contact.address.zipcode" placeholder="Zip Code" autocomplete="postal-code">
                </label>
                <div class="flex-item submit-container">
                    <div class="bottom-align"></div>
                    <input type="submit" value="Submit" v-show="!submitInProgress">
                    <SvgLoader v-show="submitInProgress"></SvgLoader>
                </div>
            </div>
        </fieldset>
    </form>

</template>

<script>
import SvgLoader from './SvgLoader.vue';
function emptyContact() {
    return {
        name: '',
        email: '',
        address: {
            street: '',
            city: '',
            zipcode: ''
        }
    };
}
export default {
    name: 'ContactForm',
    components: {SvgLoader},
    data() {
        return {
            contact: emptyContact(),
            submitInProgress: false,
            errorMessage: ''
        };
    },
    methods: {
        submitContact() {
            var vm = this;
            vm.errorMessage = '';
            vm.submitInProgress = true;
            axios.post('/new_contact',vm.contact)
            .then(function (response) {
                vm.$root.$emit('contacts-updated');
                vm.contact = emptyContact();
                vm.submitInProgress = false;
            })
            .catch(function (error) {
                if (error.response && error.response.status === 400) {
                    vm.errorMessage = "All fields are required.";
                } else {
                    console.error(error);
                    vm.errorMessage = "Something has gone wrong.";
                }
                vm.submitInProgress = false;
            });
        }
    }
}
</script>

<style lang="less" scoped>
    .bold {
        font-family: 'circular-bold','Arial Black',Arial, sans-serif;
        font-weight: bold;
    }
    form {
        background: #22194F;
        width: 80%;
        max-width: 540px;
        margin: 1em auto;
        fieldset {
            padding-top: 0.19rem;
            padding-bottom: 1.4rem;
        }
        legend {
            .bold;
            background: #2F7396;
            color: white;
            font-size: 2.33rem;
            padding: 0.55rem 0.9rem;
            span {
                background: red;
                padding: 0.1rem 0.4rem;
                border-radius: 8px;
            }
        }
        .flex-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            .flex-item {
                flex-grow: 0;
                flex-shrink: 0;
                width:40%;
                min-width: 200px;;
                margin: 0.3rem 0.5rem;
            }
        }
        label {
            .bold;
            color: white;
            font-size: 1.4rem;
            span {
                display: block;
            }
        }
        textarea {
            margin-top: 0.33rem;
            height: 4rem;
            resize: none;
        }
        input:not([type="submit"]), textarea {
            width:100%;
            border: 0;
            line-height: 1;
            padding: 0.3rem 0.3rem;
        }
        .submit-container {
            * {vertical-align: bottom;}
            text-align: center;
            .bottom-align {
                display: inline-block;
                height: 100%;
            }
        }
        input[type="submit"] {
            cursor: pointer;
            width: 40%;
            height: 40px;
            margin: 0 auto;
            border:0;
            border-radius: 12px;
            color: white;
            background: #2EE224;
            &:hover {
                background: #0DFF00;
            }
        }
    }

</style>
