<template>
    <section class="contacts-area">
        <h2>Saved Contacts</h2>
        <div class="loader-container" v-if="loading">
            <SvgLoader class="loader"></SvgLoader>
        </div>
        <div class="loader-container" v-if="errored">
            <p>Something went wrong.</p>
            <button @click.prevent="fetchContacts">Try Again</button>
        </div>
        <ContactCard v-for="card in contactCards" :key="card.id" :card="card">
        </ContactCard>
    </section>
</template>

<script>
import SvgLoader from './SvgLoader.vue';
import ContactCard from './ContactCard.vue';

export default {
    name: 'ContactSection',
    components: {
        SvgLoader,
        ContactCard
    },
    data() {
        return {
            loading: true,
            errored: false,
            contactCards: []
        };
    },
    methods: {
        fetchContacts() {
            var vm = this;
            vm.errored = false;
            vm.loading = true;
            axios.get('/contact_cards')
            .then(function (response) {
                vm.contactCards = response.data;
                vm.loading = false;
            })
            .catch(function (error) {
                vm.loading = false;
                vm.errored = true;
            });
        }
    },
    created() {
        this.fetchContacts();
    },
    mounted() {
        var vm = this;
        vm.$root.$on('contacts-updated', function() {
            vm.fetchContacts();
        });
    }
}
</script>

<style lang="less" scoped>
.loader-container {
    position: relative;
    width: 100%;
    padding-bottom: 15%;
    text-align: center;
    .loader {
        padding-top:0.3rem;
        position: absolute;
        top:0;right:0;bottom:0;left:0;
        margin:auto;
    }
}
.contacts-area {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &:after {
        content: "";
        flex: 1 0 48.5%;
        margin: 0.3rem;
    }
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.3);
    h2 {
        .bold;
        flex-basis: 100%;
        background: rgba(0,0,255,0.4);
        background: #22194F;
        font-size: 3rem;
        padding: 0.3rem 0.7rem;
        color:white;
    }
}
.bold {
    font-family: 'circular-bold','Arial Black',Arial, sans-serif;
    font-weight: bold;
}
</style>
