<template>
    <article class="card">
        <section class="card-contact">
            <div class="profile-image">
                <img src="../assets/Kult_Byra_Logo.png" alt="{{name}}"/>
            </div>
            <div class="contact-details">
                <span>{{name}}</span>
                <span>{{email}}</span>
            </div>
        </section>
        <section class="card-address">
            <div class="spacer">
            </div>
            <div class="address-details">
                <span>{{address.street}}</span>
                <span>{{address.zipcode}} {{address.city}}</span>
            </div>
        </section>
    </article>

</template>

<script>
export default {
    name:'ContactCard',
    props: {
        card: Object
    },
    data() {
        return this.card;
    }
}
</script>

<style lang="less" scoped>
    @sea-blue: #2F7396;
    @dark-purple: #22194F;
    .card {
        flex: 1 0 48.5%;
        margin: 0.3rem;
        background: @sea-blue;
        border: 4px solid @dark-purple;
        color: white;
        section {
            padding: 0.8 rem;
            span {
                font-size: 1.4rem;
                display: block;
            }
        }
    }
    .card-contact {
        padding: 0.8rem;
        padding-bottom: 0;
        * {vertical-align: middle;}
        .profile-image {
            position: relative;
            display: inline-block;
            width: 20%;
            padding-top: 20%;
            background: @dark-purple;
            border-radius: 100%;
            img {
                display: block;
                position: absolute;
                top:0;right:0;bottom:0;left:0;
                margin: auto;
                width:60%;
                max-width: 60%;
            }
        }
        .contact-details {
            display: inline-block;
            margin-left: 0.4rem;
        }
    }
    .card-address {
        padding: 0.8rem;
        padding-top: 0;
        .spacer {
            display: inline-block;
            width:20%;
        }
        .address-details {
            display: inline-block;
            margin-left: 0.4rem;

        }
    }

</style>
