<template>
    <header>
        <h1 class="site-logo"><img src="../assets/Kult_Byra_Logo.png" alt="Kult Design">Kult Design</h1>
    </header>
</template>

<script>
export default {
    name: 'SiteHeader'
}
</script>

<style lang="less" scoped>
    header {
        background: #221a4f;
        h1 {
            padding: 0.3rem 0.7rem;
            font-size: 0;
            width: 10%;
            max-width: 200px;
            min-width: 70px;
            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }
</style>
