<template>
    <div id="app">
        <SiteHeader></SiteHeader>
        <ContactForm></ContactForm>
        <ContactSection></ContactSection>
    </div>
</template>

<script>
import SiteHeader from './components/SiteHeader.vue';
import ContactForm from './components/ContactForm.vue';
import ContactSection from './components/ContactSection.vue';

export default {
    name: 'app',
    components: {
        SiteHeader,
        ContactForm,
        ContactSection
    }
}
</script>

<style lang="less">
@font-face {
    font-family: 'circular-book';
    src: url('./assets/CircularStd-Book.eot');
    src: url('./assets/CircularStd-Book.woff2') format('woff2'),
        url('./assets/CircularStd-Book.woff') format('woff'),
        url('./assets/CircularStd-Book.ttf') format('truetype'),
        url('./assets/CircularStd-Book.svg#CircularStd-Book') format('svg'),
        url('./assets/CircularStd-Book.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular-bold';
    src: url('./assets/CircularStd-Bold.eot');
    src: url('./assets/CircularStd-Bold.woff2') format('woff2'),
        url('./assets/CircularStd-Bold.woff') format('woff'),
        url('./assets/CircularStd-Bold.ttf') format('truetype'),
        url('./assets/CircularStd-Bold.svg#CircularStd-Bold') format('svg'),
        url('./assets/CircularStd-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    font-family: circular-book, sans-serif;
    font-size:1rem;
}
html, body, #app {
    padding:0;
    margin:0;
    font-family: 'circular-book' sans-serif;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
</style>
